body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full height of the viewport */
  margin: 0; /* Remove default margin */
}

.container {
  text-align: center;
}

/* Add your CSS styles for freelancers list here */
ul {
  list-style-type: none;
  padding: 0;
}

.freelancer {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#averageText {
  margin-top: 20px;
}